bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.ElasticSearchWorkerService/.idea/encodings.xml
/.idea/.idea.ElasticSearchWorkerService/.idea/indexLayout.xml
/.idea/.idea.ElasticSearchWorkerService/.idea/misc.xml
/.idea/.idea.ElasticSearchWorkerService/.idea/vcs.xml
